<section class="element-four pt-5 pb-5 section-footer" >
     <div class="container">
          <div class="row pt-5">
               <div class="col-8">
                    <div class="row">
                         <div class="col-4">
                              <h1 class="title-footer mb-1">Kenali Kami</h1>
                              <div class="box mb-2"></div>
                              <ul class="list-text-footer pl-0 mb-0">
                                   <li>Tentang Kami</li>
                                   <li>Alamat</li>
                              </ul>
                         </div>
                         <div class="col-4">
                              <h1 class="title-footer mb-1">Usaha</h1>
                              <div class="box mb-2"></div>
                              <ul class="list-text-footer pl-0 mb-0">
                                   <li>Pertanian Organik</li>
                                   <li>Wisata Desa</li>
                                   <li>Usaha Kreatif</li>
                                   <li>Penyewaan Tratak</li>
                                   <li>Usaha Galon Air</li>
                              </ul>
                         </div>
                         <div class="col-4">
                              <h1 class="title-footer mb-1">Ikut Kami</h1>
                              <div class="box mb-2"></div>
                              <ul class="list-text-footer pl-0 mb-0">
                                   <li>
                                       Telp BUMD Desa A</li>
                                   <li>
                                       Whatsapp BUMD Desa</li>
                                   <li>
                                       Facebook BUMD Desa</li>
                                   <li>
                                       Youtube BUMD Desa</li>
                              </ul>
                         </div>
                    </div>
               </div>
               <div class="col-4 text-center px-5" style="font-size: 15px;">
                    <img class="mb-3" src="static/img/logo.png" alt="">
               </div>
          </div>
     </div>
</section>
<section class="foot">
     <div class="container"><div class="row"><div class="col-6 mx-auto text-center pt-3"><span>© 2023, Baitul Mal Bener Meriah</span></div></div></div>
</section>