<section id="cerita_kami" style="background-color: rgba(177, 177, 177, 0.19);">
   <div class="container">
      <div class="row ">
         <div class="col-lg-6 mx-auto pt-5">
            <div class="title-berbagi mb-4">
               <p class="header-title-berbagi mb-2" >Cerita Kami</p>
               <p class="desc-title-berbagi">Temukan Cerita menarik dan seru kami pada setiap kegiatan kami dalam memajukan BUMDes Desa A disini.</p>
            </div>
         </div>
         <div class="col-12 pb-3 ">
            <div class="owl-carousel owl-carousel-sedekah owl-theme mt-3">

               <% cerita_kami.forEach((value, key) => { %>
                  <div class="item">
                     <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="static/img/cerita_aksi/<%= value.img %>.png" alt="Card image cap">
                        <div class="card-body">
                           <label for=""><%= value.title %></label>
                           <p style="font-weight: normal;"><%= value.desc %></p>
                           <button class="btn btn-success w-100 mb-3" >Baca Selengkapnya</button>
                        </div>
                     </div>
                  </div>
               <% }); %>  
            </div>
         </div>
         <div class="col-12 pb-5 pt-0"">
            <center>
               <button class="btn btn-success" >Lihat Selengkapnya</button>
            </center> 
         </div>
      </div>
   </div>
</section>