<!DOCTYPE html>

<html lang="en">

  <%- include('widget/header', {title  : 'Kontak | BUMDES | Badan Usaha Milik Desa'}) %>

  <body >
    
    <%- include('widget/navbar') %>
    
    <div class="container mt-5 pt-5">
      <div class="row py-5 mt-5 text-left">
        <div class="col-12">
          <h4>KONTAK BUMDES DESA A</h4>
          <label for="">Silahkan hubungi alamat dan kontak dibawah untuk berkonsultasi tentang BUMDes Desa A</label>
        </div>
        <div class="col-12 pb-5 mb-5">
          <div class="row">
            <div class="col-4">
              <div class="row pt-4 px-0">
                <div class="col-12">
                  <label for="">Kantor</label>
                  <p>Jl.Soekarno-Hatta No.458, Batununggal, Bandung Kidul, Bandung 40266</p>
                </div>
                <div class="col-12">
                  <label for="">Telepon</label>
                  <p>(022) 8731-5606</p>
                </div>
                <div class="col-12">
                  <label for="">Whatsapp</label>
                  <p>62 888 0202 2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('section/section_footer') %>
    
  </body>

<%- include('widget/footer') %>

</html>