<h4 class="title-footer mx-auto">Informasi Layanan</h4>
<ul class="list-group">
<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
Cras justo odio
</li>
<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
Dapibus ac facilisis in
</li>
<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
Morbi leo risus
</li>
</ul>