<div class="input-group mb-3">
          <input type="<%= type %>" class="form-control" placeholder="<%= placeholder %>" name="<%= name %>">
          <div class="input-group-append">
               <div class="input-group-text">
                    <span class="fas <%= icon %>"></span>
               </div>
          </div>
     </div>