<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><%= title %></title>
     <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
     <!-- Google Font: Source Sans Pro -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
     <!-- Font Awesome Icons -->
     <link rel="stylesheet" href="/static/template/plugins/fontawesome-free/css/all.min.css">
     <!-- IonIcons -->
     <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
     <!-- Theme style -->
     <link rel="stylesheet" href="/static/template/distr/css/adminlte.css">
     <!-- jquery confirm -->
     <link rel="stylesheet" href="/static/template/plugins/jquery-confirm/jquery-confirm.min.css">
     <!-- Select2 -->
     <link rel="stylesheet" href="/static/template/plugins/select2/css/select2.min.css">

     <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&amp;display=swap" rel="stylesheet">
     <!-- Carousel -->
     <link rel="stylesheet" href="/static/template/plugins/carousel/dist/assets/owl.carousel.min.css">
     
     <link rel="stylesheet" href="/static/template/plugins/carousel/dist/assets/owl.theme.default.min.css">

     <style>
          body {
               margin: 0;
               font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 400;
               line-height: 1.5;
               color: rgba(73, 73, 73, 0.836);
               text-align: left;
               background-color: #efefef;
               background-repeat: no-repeat;
               background-size: contain;
 
          }

          #imagebrandheader {
               height: 30px;
          }

          .nav-modif > li > a {
               font-size: 14px !important;
               font-weight: 700;
          }

          #mainNav {
               padding-top: 1rem;
               padding-bottom: 1rem;
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: bold;
               color:rgba(73, 73, 73, 0.836);
               background-color:  #fff;
          }

          .btn-modif-frontend-a  {
               font-size: 13px;
               
          }

          .btn-modif-frontend {
               font-size: 13px;
               color:rgba(73, 73, 73, 0.836);
          }

          a {
               color: rgba(73, 73, 73, 0.836);
               text-decoration: none;
               background-color: transparent;
          }

          .element-main{
               background-color: transparent ;
               min-height: 120px;
          }
          
          .main-hero {
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
          }

          .main-desc {
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-size: 14px;
          }
          .hero1  {
               position: absolute;
               right: 0;
               z-index: 0;
          }
          .hero2  {
               position: absolute;
               top: 245px;
               left: 50px;
               z-index: 0;
          }
          .hero {
               position: absolute;
               top:110px;
               left: 145px;
               z-index: 2;
          }
          .hubungi_kami {
               border: 2px solid rgba(73, 73, 73, 0.836);
          }

          .card-title-modif {
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
               font-size: 27px;
          }
          .get-started-title {
               background-color: transparent;
               box-shadow: none;
          }

          .img1{
               height: 70%;
               width: 70% !important;
          }
          .info-img{
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
               font-size: 12px;
          }
          .card-modif-2 {
               width: 180px;
          }

          .title-price{
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
               font-size: 32px;
          }
          .info-desc-detail {
               font-size: 15px;
          }
          .card-header-modif{
               font-size: 17px;
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
          }

          .card-body-price {
               font-size: 17px;
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
          }
          .display-harga {
               display: inline-block;
               width: 100%;
               text-align: center;
               margin: 15px 0 0 0;
          }
          .harga-formatted {
               display: inline-block;
               color: rgba(73, 73, 73, 0.836);
               font-weight: 700;
               margin: 0 auto;
               text-align: left;
          }
          .harga-formatted .kurs {
               font-size: 30px;
               position: relative;
               display: block;
               float: left;
               line-height: 30px;
               margin-right: 2px;
          }
          .harga-formatted .harga {
               font-size: 48px;
               position: relative;
               line-height: 70px;
               display: block;
               float: left;
               width: auto;
               top: -7px;
          }
          .harga-formatted .ribuan {
               display: block;
               float: left;
               width: 50px;
          }

          .card-header-modif{
               background-color : #ffae00ff;
          }

          .kata_meraka{
               font-size: 32px;
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
          }

          .testimoni-text {
               font-size: 23px;
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          }
          .testimoni-title {
               font-size: 17px;
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
               font-style: italic;
          }

          .title-footer {
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: 700;
               font-size: 18px;
          }

          .btn-info{
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: normal;
               font-size: 12px;
          }
          .form-control{
               font-size: 12px;
          }
          .login-box, .register-box {
               width: 400px !important;
          }
          .brand-text{
               font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
               font-weight: normal;
               font-size: 17px;
          }

          .login-page, .register-page {
              background-color: #ffffff;
              justify-content: unset;
          }

     </style>

</head>