<nav class="navbar navbar-expand-lg bg-body-tertiary" id="mainNav">
     <div class="container">
          <div class="container-fluid px-5 px-sm-0">
               <a class="navbar-brand mr-5" href="#">
                    <img id="imagebrandheader" src="static/img/logo.png" alt="">
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarColor04">
                    <ul class="navbar-nav ml-auto nav-modif">
                         <li class="nav-item">
                              <a class="nav-link" href="#">Beranda</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Tentang</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Fitur & Layanan</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Harga</a>
                         </li>
                    </ul>
               </div>
               <div class="collapse navbar-collapse" id="navbarColor04">
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item">
                              <a class="btn btn-info mx-1 btn-modif-frontend-a" target="_blank" href="/Users/Register"><b>Registrasi</b></a>
                         </li>
                         <li class="nav-item">
                              <a class="btn mx-1 btn-modif-frontend" target="_blank" href="/Users/Login"><b>Login</b></a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</nav>